.details {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-start;
}

.details-product-image {
  width: 834px;
  height: 100%;
  margin-right: 150px;
  margin-bottom: 17px;
}

.details-category {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  color: #ccd1d9;
  text-transform: uppercase;
}

.details-product-title {
  color: #2e2b40;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 7px;
  text-decoration: none;
}



@media (min-width: 768px) and (max-width: 1024px) {
  
}

@media (min-width: 1025px) and (max-width: 1366px) {

}

@media (min-width: 1367px) {
  
}