.product {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-start;
}

.product-image {
  width: 834px;
  height: 100%;
  margin-right: 150px;
  margin-bottom: 17px;
}

.product-title {
  color: #2e2b40;
  font-size: 16px;
  margin-bottom: 7px;
  text-decoration: none;
}



@media (min-width: 768px) and (max-width: 1024px) {
  
}

@media (min-width: 1025px) and (max-width: 1366px) {

}

@media (min-width: 1367px) {
  
}