.page-header {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding: 0 20px;
}

.page-header ul {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.page-header ul li a {
  text-decoration: none;
  color: #2e2b40;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.logo a {
  width: 259px;
  height: 30px;
  font-weight: 300;
}

.cart-svg {
  transform: scale(0.5);
  fill: #ccd1d9;
}

.cart:hover .cart-svg {
  fill: #aab2bd;
}
