.page-header {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding: 0 20px;
}

.page-header ul {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.page-header ul li a {
  text-decoration: none;
  color: #2e2b40;
}

.header-menu a {
  position: relative;
  display: block;
  width: 17.5px;
  height: 12px;
}

.header-menu a span,
.header-menu a span::before,
.header-menu a span::after {
  position: absolute;
  height: 2px;
  background-color: #ccd1d9;
}

.header-menu a span {
  top: 50%;
  width: 12px;
  margin-top: -1px;
}

.header-menu a span::before,
.header-menu a span::after {
  content: '';
  display: block;
  width: 17.5px;
}

.header-menu a span::before {
  transform: translateY(-5px)
}

.header-menu a span::after {
  transform: translateY(5px)
}

.header-menu a:hover span,
.header-menu a:hover span::before,
.header-menu a:hover span::after {
  background-color: #aab2bd;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
}

.logo a {
  width: 259px;
  height: 30px;
  font-weight: 300;
}

.cart-svg {
  transform: scale(0.5);
  fill: #ccd1d9;
}

.cart:hover .cart-svg {
  fill: #aab2bd;
}

@media (max-width: 320px) {
  .logo a  {
    width: 100%;
    height: 100%;
  }

}