.page-header {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex: 0 0 auto;
  padding: 44px 70px;
}

.page-header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.page-header ul li a {
  text-decoration: none;
  color: #2e2b40;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.logo a {
  font-weight: 300;
}

.logo span {
  font-weight: 900;
  /* letter-spacing: 1.5px; */
}

/* .cart,
.cart a {
  width: 20px;
  height: 17px;
} */

.cart path {
  transform: translateY(3px);
  fill: #ccd1d9;
}

.cart:hover .cart-svg {
  fill: #aab2bd;
}


@media (max-width: 767px) {
  .page-header {
    padding-left: 20px;
    padding-right: 20px; 
  }
}