main .product-list {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  /* margin: 0 auto; */
}

@media (max-width: 767px) {

  .product-list .product:last-child {
    margin-bottom: 0;
  }

}