main .product-list {
  max-width: 2560px;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* margin-left: -15px; */
  /* margin-right: -15px; */
  /* margin: 0 auto; */
}

.product-list .product:last-child {
  margin-bottom: 0;
}