main .product-list {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
}

@media (max-width: 767px) {

  main .product-list {
    padding: 0;
  }

  .product-list .product:last-child {
    margin-bottom: 0;
  }

}