* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-header {
  width: 100%;
  display: flex;
}

.page-header ul {
  width: 100%;
  height: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 40px;
}

.page-header ul li {
}

.page-header ul li a {
  text-decoration: none;
  color: #2e2b40;
}

.header-menu a {
  display: block;
  width: 35px;
  height: 24px;
  background-image: url(./img/burger.png);
}

.logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.cart a {
  display: block;
  width: 35px;
  height: 30px;
  background-image: url(./img/Cart.png);
}

